<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Banco de Talentos - Easy Communication & Technology (Developers/Desenvolvedores)
      </h1>
      <h2 class="subtitle">
        Cadastro de Programadores
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container box">
    <p>Vaga Programador C#, Asp.Net, Wordpress | Home Office | Trabalho Remoto</p>
    <p>
      <a href="https://youtu.be/teXgoCzunVE" target="_blank">
          https://youtu.be/teXgoCzunVE
      </a>
    </p>

    <br>
    <p>Já agradecemos o seu contato, confira que você não precisa preencher o formulário completo caso já tenha essas informações no seu linkedin, e no final confira os links dos tutoriais (desenvolvedores).</p>
    <br>
    <p>
      Como trabalhamos: -
      <a href="https://docs.google.com/document/d/145QuJ8-efr-pmNGV-2DOOGHD-1dc3MERSeL5g0XoqmM" target="_blank">
          https://docs.google.com/document/d/145QuJ8-efr-pmNGV-2DOOGHD-1dc3MERSeL5g0XoqmM
      </a>
    </p>
    <br>
    <p class="has-text-danger">* Campo Obrigatório</p>

    <br><br>

    <div class="field">
      <label class="label is-large">Email <span style="color:rgb(255, 56, 96);">*</span></label>
      <div class="control has-icons-left has-icons-right">
        <input class="input  is-medium" type="email" placeholder="Sua resposta" value="" [(ngModel)]="programmer.email" required>
        <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
        <!-- <span class="icon is-small is-right"><i class="fa fa-warning"></i></span> -->
      </div>
      <!-- <p class="help is-danger">Resposta obrigatória</p> -->
    </div>

    <br><br>

    <div class="columns">
      <div class="column is-half">
        <a class="button is-dark is-medium" (click)="next()">Próximo</a>
      </div>
      <div class="column">
        <progress class="progress is-primary" value="25" max="100"></progress>
      </div>
      <div class="column">
        Página 1 / 4
      </div>
    </div>

  </div>
</section>
